name: 'Terraform'

on:
  push:
    branches: [main]
      
  pull_request:
    branches: [main, develop]

jobs:
  validate-dev:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      
    - name: Validate Terraform - Dev
      uses: ./.github/actions/terraform-deploy
      with:
        environment: dev
        tfvars-file: dev.tfvars
        backend-key: team1.sr.dev.tfstate
        working-directory: .
        azure-credentials: ${{ secrets.AZURE_CREDENTIALS }}

  validate-prod:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      
    - name: Validate Terraform - Prod
      uses: ./.github/actions/terraform-deploy
      with:
        environment: prod
        tfvars-file: prod.tfvars
        backend-key: team1.sr.prod.tfstate
        working-directory: .
        azure-credentials: ${{ secrets.AZURE_CREDENTIALS }}
